
<script>
h1 { text-align: center }

</script>



<h1>Eat-Da-Burger!</h1>

<h2>Uneaten Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>



<form class="create-form">

  <div class="form-group">
    <label for="bur"></label>
    <input type="text" id="bur" name="name">
  </div>

  <button type="submit">Submit</button>
</form>
<p>Enter a burger you want to eat. Click the "Submit" button.</p>